@model FacebookClone.Models.AlbumViewModel
@{
    ViewBag.Title = "Album";
}

<div class="gallery">
@using (Html.BeginForm("ShowAlbum", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="image" src=@Url.Content(Model.picturesRelativePath[Model.picturesRelativePath.Count - 1])  style="width:170px;height:200px;">
        @*<img src=@Url.Content(Model.albumPicturesRelativePath[Model.albumPicturesRelativePath.Count - 1])  width="300" height="200">*@
    <div hidden="hidden">
        @Html.EditorFor(model => model)
    </div>
}
    <div class="desc">@Model.albumName</div>
</div>

<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height:150px;
        }

    div.desc {
        padding: 15px;
        text-align: center;

    }
    
</style>