@model FacebookClone.Models.GenericItemViewModel
@{
    ViewBag.Title = "ItemPartialView";
}

<ul class="list-group">
    <li class="list-group-item"><a href="~/@Model.myController/@Model.clickOption/@Model.id">@Model.content</a></li>
</ul>
