@model FacebookClone.Models.GenericItemViewModel
@{
    ViewBag.Title = "ItemPartialView";
}

<ul class="list-group">
    <li class="list-group-item">@Model.content  <a href="#">@Model.clickOption</a></li>
</ul>
