@model FacebookClone.Models.Profile
@{
    ViewBag.Title = "HomeProfile";
}

@if (@Model == null) {
<h1>It looks like you have not created a profile yet. Please follow the next steps in order to join our comunity</h1>
<form method="post" action="/Profile/Add">
    <label>First Name</label>
    <br />
    <input type="text" name="firstname" value="" />
    <br /><br />
    <label>Last Name</label>
    <br />
    <input type="text" name="lastname" value="" />
    <br /><br />
    <label>Age</label>
    <br />
    <input type="text" name="age" value="" />
    <button type="submit">Save profile</button>
</form>
}
else { 
<h1> Hello @Model.firstname!</h1>
}
